body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100vh;

    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;

    margin: 0;
    padding: 0;
}

h1 {
    border-width: 0 0 2px 0;
    border-style: double;
    border-color: #a4a4a4;
    color: rgb(49, 147, 179);
}

h2 {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #a4a4a4;
    color: rgb(49, 147, 179);
}

.full-page {
    height: 100%;
}

.header {
    width: 100vw;
    height: 60px;

    font-size: 12px;
    font-weight: 700;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    list-style-type: none;

    direction: rtl;

    background: #CBDCEB;

    padding: 0 24px 0 0;
}

.header .header-logo {
    margin-right: auto;
    height: 60px;
}

.header a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 24px;
    
    transition: all 0.1s;
    text-decoration: none;
    color: black;
}

.header a:hover {
    color: white;
}

.direct-link {
    text-decoration: none;
    color: rgb(62, 136, 160);
}

.content-bar {
    padding: 24px 32px;
}

.content {
    padding: 12px 24px;
}

